<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Cadastrar Produto</title>
</head>

<body>

  <div class="cont">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="mensagem-{{ category }} flash-msg">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<span id="total-itens">0 itens adicionados.</span>
<form class="form" action="/cadastrar" method="POST">

  <div class="input">
    <span>Nome Produto: </span>
    <input name="nome_produto">
  </div>

  <div class="input">
    <span>Valor: </span>
    <input name="valor_produto">
  </div>

  <div class="input">
    <span>Qtd.: </span>
    <input name="qtd_produto">
  </div>

  <div class="enviar">
       <input type="submit" value="Enviar">
  </div>

</form>
<span id="ver-estoque"> Ver Estoque</span>
</div>
</body>

<script>

// Faz a mensagem sumir depois de 3 segundos (se ela existir)
document.addEventListener('DOMContentLoaded', function() {
    const mensagens = document.querySelectorAll('.flash-msg');

    mensagens.forEach(function(msg) {
      setTimeout(function() {
        msg.style.transition = 'opacity 0.5s ease';
        msg.style.opacity = '0';

        setTimeout(function() {
          msg.remove();
        }, 500);
      }, 3000);
    });
  });
</script>
</html>