<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Cadastrar Produto</title>
</head>

<body>

  <div class="cont">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="mensagem-{{ category }} flash-msg">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<span id="total-itens">0 itens adicionados.</span>
<form class="form" action="/cadastrar" method="POST">

  <div class="input">
    <span>Nome Produto: </span>
    <input name="nome_produto">
  </div>

  <div class="input">
    <span>Valor: </span>
    <input name="valor_produto">
  </div>

  <div class="input">
    <span>Qtd.: </span>
    <input name="qtd_produto">
  </div>

  <div class="enviar">
       <input type="submit" value="Enviar">
  </div>

</form>
<span id="ver-estoque"> <a class="destylize-a-tag" href="/estoque">Ver Estoque</a></span>
</div>
<script src="{{ url_for('static', filename='global_script.js') }}"></script>
</body>
</html>